@model Grupp23_CV.Models.CV

@{
	ViewBag.Title = "Radera CV";
}

<h1>Är du säker på att du vill radera ditt CV?</h1>

<div>
	<strong>@Model.FullName</strong>
	<p>@Model.Adress</p>
	<p>@Model.PhoneNumber</p>
	@if (!string.IsNullOrEmpty(Model.ProfileImagePath))
	{
		<img src="@Url.Content("~/images/" + Model.ProfileImagePath)" alt="Profilbild" style=" width: 100px; height:100px" />
	}
	<form method="post">
		<button type="submit" class="btn btn-danger">Ja, radera</button>
		<a href="@Url.Action("Index", "CV")" class="btn btn-secondary">Avbryt</a>
	</form>
</div>
