@model Grupp23_CV.Models.CV

@{
    ViewBag.Title = "Visa CV";
}

<h1>Mitt CV</h1>

<div class="form-group">
    <label>Fullständigt namn:</label>
    <p>@Model.FullName</p>
</div>

<div class="form-group">
    <label>Adress:</label>
    <p>@Model.Adress</p>
</div>

<div class="form-group">
    <label>Telefonnummer:</label>
    <p>@Model.PhoneNumber</p>
</div>

<div class="form-group">
    <label>Profilbild:</label>
    @if (!string.IsNullOrEmpty(Model.ProfileImagePath))
    {
        <img src="@Model.ProfileImagePath" alt="Profilbild" class="img-thumbnail" style="max-width: 200px;" />
    }
    else
    {
        <p>Ingen profilbild uppladdad.</p>
    }
</div>

<div class="form-group">
    <label>Kompetens:</label>
    @if (Model.Skills != null && Model.Skills.Any())
    {

    }
    else
    {
        <p>Inga kompetenser angivna.</p>
    }
</div>

<div class="form-group">
    <label>Utbildning:</label>
    @if (Model.Educations != null && Model.Educations.Any())
    {
        <ul>
            @foreach (var education in Model.Educations)
            {
                <li>@education.Name</li>
            }
        </ul>
    }
    else
    {
        <p>Ingen utbildning angiven.</p>
    }
</div>

<div class="form-group">
    <label>Erfarenhet:</label>
    @if (Model.Experiences != null && Model.Experiences.Any())
    {
        <ul>
            @foreach (var experience in Model.Experiences)
            {
                <li>@experience.JobTitle</li>
            }
        </ul>
    }
    else
    {
        <p>Ingen erfarenhet angiven.</p>
    }
    <a href="@Url.Action("Edit", "CV", new { id = Model.Id })" class="btn btn-warning">Redigera CV</a>

</div>
